*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: Poppins, sans-serif;
}
.gradient {
    background: linear-gradient(#F5F5F5, #DDECFF, #F5F5F5) no-repeat;
}
.header-content {
    display: flex;
    height: 116px;
    font-weight: 400;
    align-items: center;
    justify-content: space-between;
    padding: 16px 40px;
}
.logo {
    display: flex;
    flex: 1;
    align-items: center;
    width: 73px;
    height: 34px;
}
.logo_text {
    font-size: 34px;
}
.nav-header {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    width: 610px;
    height: 32px;
}
.nav-header a:hover {
    font-weight: 600;
}
.nav-header a {
    text-decoration: none;
    color: #202020;
    font-size: 20px;
    font-weight: 400;
}
@media (min-width: 1200px) {
    .menu {
        display: none;
    }
    .nav-mobile-header {
        display: none;
    }
}
@media (max-width: 1199px) {
    .nav-header {
        display: none;
    }
    .nav-mobile-header {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #0578FF;
        align-items: start;
        padding: 128px 32px 391px;
        gap: 48px;
    }
    .nav-mobile-header a {
        color: white;
        justify-items: left;
        font-size: 48px;
        text-decoration: none;
    }
    .header-content {
        height: auto;
        align-items: flex-start;
    }
    .nav-hidden {
        display: none;
    }
    .menu {
        cursor: pointer;
    }
}
@media (max-width: 767px) {
    .nav-mobile-header a {
        font-size: 32px;
    }
}
/*Hero section*/
.hero {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 896px;
    padding: 64px 64px 128px;

}
.hero-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 640px;
    margin: 0px 0px;
    padding: 0px 0px;
    gap: 24px;
    justify-content: space-between;
}
.hero-image {
    display: flex;
    justify-content: center;
    flex: 1;
    transform: scaleX(-1);
}
.textField {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 24px;
    justify-content: flex-start;
}
h1 {
    font-size: 64px;
    font-weight: 700;
}
h6 {
    font-size: 16px;
    font-weight: 400;
}
.round-oneway {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    max-height: 34px;
    border-radius: 10px;
    padding: 0px 24px;
}
.passengers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88px;
}
.symbol {
    display: flex;
    align-items: center;
}
.dateTime {
    position: relative;
    display: flex;
    align-content: end;
    gap: 2rem;
}
.dateTimeCalendar {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    font-weight: 600;
}
.inputGroup {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-weight: 600;
    gap: 1rem;
}
.inputGroupDate {
    flex: 1;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    justify-content: right;
    font-weight: 600;
}
.inputGroup input {
    width: 100%;
    border-radius: 10px;
    border: none;
    height: 53px;
    padding: 16px 24px;
}
.inputGroupDate input {
    width: 100%;
    border-radius: 10px;
    border: none;
    height: 53px;
    padding: 16px 24px 16px 40px;
    margin-top: auto;
}
.inputGroupDate::before {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    background-image: url("../assets/icons/calendar.png");
    background-position: center;
}
.findButton {
    padding: 16px 24px;
    border-radius: 10px;
    border: none;
    background-color: #0578FF;
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
.findButton:hover {
    background-color: #0050FF;
}
@media (max-width: 1199px) {
    .hero-image {
        display: none;
    }
}
@media (max-width: 767px) {
    h1 {
        font-size: 32px;
    }
    h6 {
        font-size: 11px;
    }
    .hero {
        height: 883px;
        padding: 24px 20px 128px;
    }
    .dateTime {
        flex-direction: column;
    }
    .noSmall {
        display: none;
    }
}
.facts {
    display: flex;
    flex: 1;
    background-color: #0578FF;
    justify-content: space-between;
    height: 14rem;
    color: white;
    padding: 64px 60px;
}
.infoBlock {
    text-align: center;
}
.digits {
    font-weight: 700;
    font-size: 50px;
}
.textFacts {
    font-weight: 500;
    font-size: 20px;
}
@media (min-width: 768px) and (max-width: 1199px) {
    .facts {
        height: 23.75rem;
        flex-wrap: wrap;
        padding: 64px;
    }
    .infoBlock {
        flex: 0 0 50%;
    }
}
@media (max-width: 767px) {
    .facts {
        height: 259px;
        flex-wrap: wrap;
        padding: 30px 20px;
    }
    .infoBlock {
        flex: 0 0 50%;
    }
    .digits {
        font-size: 40px;
    }
    .textFacts {
        font-size: 16px;
    }
}
.glory {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 64px 128px;
    gap: 1.5rem;
}
.photos {
    display: flex;
    flex: 1;
    gap: 1.5rem;
}
.photoBlock1 {
    display: flex;
    flex-direction: column;
    flex: 50%;
    gap: 1.5rem;
}
.photo1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex: 1;
}
.photo1 img {
    flex: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}
.photoBlock2 {
    flex: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.photo3 img {
    flex: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}
.photoBlock3 {
    flex: 1;
    display: flex;
    gap: 1.5rem;
}
.photo4 {
    flex: 45%;
    overflow: hidden;
}
.photo5 {
    flex: 55%;
    overflow: hidden;
}
.photo4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}
.photo5 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}
@media (min-width: 768px) and (max-width: 1199px) {
    .photos {
        flex-direction: column;
    }
}
@media (max-width: 767px) {
    .glory {
        padding: 20px;
    }
    .glory h1 {
        font-size: 32px;
    }
    .photos {
        flex-direction: column;
    }
    .photoBlock3 {
        flex-direction: column;
    }
}
/*Apps section*/
.apps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 7rem 1rem;
    height: 462px;
    background-color: #FFC501;
}
.apps h1 {
    flex: 3;
}
.appsIcons {
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 7rem;
}
@media (min-width: 768px) and (max-width: 1199px) {
    .apps {
        gap: 2rem;
    }
    .apps h1 {
        font-size: 2.5rem;
    }
    .appsIcons {
        width: 462px;
        flex-wrap: wrap;
        gap: 49px;
    }
}
@media (max-width: 767px) {
    .apps {
        padding: 32px 120px;
        gap: 1rem;
    }
    .apps h1 {
        font-size: 32px;
        text-align: center;
        flex: none;
    }
    .appsIcons {
        width: 189px;
        height: 210px;
        flex-shrink: 0;
        flex-direction: column;
        gap: 45px;
        overflow: hidden;
    }
    .appsIcons img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }
}
/*FAQ section*/
.faq {
    display: flex;
    flex-direction: column;
    padding: 8rem 11rem;
    gap: 2.5rem;
}
.faqList summary {
    padding: 1rem;
}
.faqList div {
    padding: 1rem;
}
summary {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
summary::after {
    font-size: 20px;
    content: "+";
    transition: transform 0.3s;
}
details[open] summary::after {
    font-size: 24px;
    content: "×";
}
@media (max-width: 767px) {
    .faq {
        padding: 4rem 1.25rem;
    }
    .faqList summary {
        font-size: 16px;
    }
    .faqList div {
        font-size: 16px;
    }
}
/*Contacts section*/
.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 640px;
    height: 397px;
    border-radius: 10px;
    border: 1px solid #20202080;
    margin: auto;
    background-color: white;
    position: relative;
    z-index: 1;
}
.contactBlock {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.phone, .email {
    font-size: 28px;
}
.address {
    padding: 30px;
    font-size: 18px;
    color: #202020;
    text-align: center;
}
@media (max-width: 767px) {
    .contacts {
        width: 320px;
        height: 341px;
    }
    .contactBlock h1 {
        font-size: 36px;
    }
    .phone, .email {
        font-size: 20px;
    }
}
/*Footer section*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
    padding: 64px;
    height: 472px;
    background-color: #0578FF;
    color: white;
    text-align: center;
    z-index: 0;
}
.blueContact {
    height: 404px;
    width: 100%;
    background-color: #0578FF;
    margin-top: -270px;
    z-index: 0;
}
.footerContainer {
    width: 100%;
    display: flex;
    flex: 1;
}
.footerCopyright {
    text-align: left;
}
.footerContainer a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.footerLinksHeader {
    font-size: 20px;
    font-weight: 600;
    line-height: 400%;
    vertical-align: top;
}
.footerLinks {
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.footerLogo {
    width: 640px;
    font-weight: 400;
    font-size: 34px;
    text-align: left;
}
.aboutLinks, .communityLinks, .socialsLinks {
    flex: 1;
    text-align: left;
    line-height: 300%;
}
@media (min-width: 768px) and (max-width: 1199px) {
    .footerContainer {
        flex-direction: column;
    }
}
@media (max-width: 767px) {
    footer {
        height: auto;
        padding: 4rem 1.25rem;
    }
    .footerContainer {
        flex-direction: column;
    }
    .footerLinks {
        flex-wrap: wrap;
    }
    .footerLogo {
        width: auto;
    }
    .aboutLinks, .communityLinks {
        flex: 0 1 auto;
        width: 50%;
    }
    .socialsLinks {
        flex: 0 1 100%;
    }
}